<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edit</title>
</head>
<body class="container">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="name" value="{{newNumber.phoneNumber_name}}" />
        </p>
        <p>
            <label>Введите номер</label><br>
            <input type="text" name="numberPhone" value="{{newNumber.phoneNumber_number}}" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>